<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.think.toutiao"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ca98e58630f5174600018d"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"></meta-data>

        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".view.activity.NewsActivity"/>
    </application>

</manifest>